/* Comentarios Globales
--------------------------------
    COLOR DE LA PAGINA: #dad6cd;
    Blanco: #efefef - (49,39,130)
    Azul oscuro: #0e151e - (11,103,50)
*/

/*Para Todo*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{text-decoration: none;}
li{list-style: none;}
/*Fin Para Todo*/

/*Fuentes*/
@font-face{
    font-family: fuente1;
    src: url(../fuentes/Comfortaa-Bold.ttf); 
}

@font-face{
    font-family: fuente2;
    src: url(../fuentes/Comfortaa-Regular.ttf); 
}
/*Fin de la Fuentes*/


/*Estructura*/
html {
  scroll-behavior: smooth;
}
body {
  background: #dad6cd;  
}
h1, h2, h3, h4{
  font-family: fuente1;
}

p, li, a{
  font-family: fuente2;
  color:#2d3436;
}
/*Fin de la Estructura*/